<!--Balance Inquiry View Start-->
        <div data-role="view" id="balanceInquiryView"  data-layout="main-layout">
            <h3>Balance Inquiry</h3>

            <table id="grid">

                <thead >
                    <tr >
                        <th>Account Number</th>
                        <th>IBAN/BBAN</th>
                        <th>Type</th>
                        <th>Available Balance</th>
                        <th>Current Balance</th>

                    </tr>
                </thead>

                <tbody >
                    <ul data-role="listview" data-style="inset" id="balanceInquiryTable">

                    </ul>

                </tbody>

            </table>

            <!--<h3>Your Accounts List</h3>
            <ul data-role="listview" data-style="inset" id="blancesList">
                
            </ul >-->
            <!--<div id="bankAccountsList">
                
            </div >-->
        </div>
        <!--Balance Inquiry View End-->