<!--Bank Accounts View Start-->
        <div data-role="view" id="bankAccounts"  data-layout="main-layout">
            <ul data-role="listview" data-style="inset">
                <li>
                    <h3>Bank Accounts</h3>
                </li>
                <li>
                    <a data-icon="details" href="#balanceInquiry">Balance Inquiry</a>
                </li>
                <li>
                    <a data-icon="organize" href="miniStatement">Mini Statement</a>
                </li>
                <li>
                    <a data-icon="mostviewed" href="#cs">Full Statement Request</a>
                </li>
                <li>
                    <a data-icon="downloads" href="#cs">E-Banking Service Request</a>
                </li>
                <li>
                    <a data-icon="downloads" href="#cs">SMS Banking request</a>
                </li>
            </ul>
        </div>
    <!--Bank Accounts View End-->