<!--------------------------------------- Cash Card View Start ------------------------------------- -->
             <div data-role="view" id="cashCardView"  data-layout="main-layout">
            
         <h3>Cash Card</h3>
         <ul data-role="listview" data-style="inset">
               
               
                <li>
                    <a data-icon="downloads" href="#cs">Request a Credit Card</a>
                </li>
                <li>
                    <a data-icon="play" href="#cs">Activate a new card</a>
                </li>
                <li>
                    <a data-icon="history" href="#cs">Display credit card ceiling</a>
                </li>
               <li>
                    <a data-icon="organize" href="#cs">Display balance </a>
                </li> 
                <li>
                    <a data-icon="organize" href="#cs">Display last transactions</a>
                </li>
             <li>
                    <a data-icon="pause" href="#cs">Stop/report stolen credit card</a>
                </li>
                               
            </ul>
    </div>
<!--------------------------------------- Cash Card View End   --------------------------------------->