<!--------------------------------------- Credit Cards View Start ------------------------------------- -->
             <div data-role="view" id="creditCardsView"  data-layout="main-layout">
            
         <h3>Credit Cards</h3>
         <ul data-role="listview" data-style="inset">
               
               
                <li>
                    <a data-icon="downloads" href="#cs">Request a credit card</a>
                </li>
                <li>
                    <a data-icon="play" href="#cs">Activate a new card</a>
                </li>
                <li>
                    <a data-icon="featured" href="#cs">Display credit card ceiling</a>
                </li>
                <li>
                    <a data-icon="organize" href="#cs">Display balance </a>
                </li> 
                <li>
                    <a data-icon="organize" href="#cs">Display last transactions</a>
                </li>
                               
            </ul>
    </div>
    <!--------------------------------------- Credit Cards View End   --------------------------------------->