<!--------------------------------------- Visa Electron View Start ------------------------------------- -->
             <div data-role="view" id="visaElectronView"  data-layout="main-layout">
            
         
         <ul data-role="listview" data-style="inset">
               <h3>Visa Electron</h3>
               
                <li>
                    <a data-icon="downloads" href="#cs">Request a Credit Card</a>
                </li>
                <li>
                    <a data-icon="play" href="#cs">Activate a new card</a>
                </li>
                <li>
                    <a data-icon="history" href="#cs">Change main currency</a>
                </li>
                <li>
                    <a data-icon="pause" href="#cs">Stop/Report stolen card</a>
                </li>
                               
            </ul>
    </div>
    <!--------------------------------------- Visa Electron View End   --------------------------------------->