<!--------------------------------------- Accounts View Start ------------------------------------- -->
             <div data-role="view" id="accountsView"  data-layout="main-layout">
            
        
         <ul data-role="listview" data-style="inset">
                <li><h3>Accounts</h3></li>
               
                <li>
                    <a data-icon="bookmarks" href="views/accountsSubViews/bankAccountsView.html">Bank Accounts</a>
                </li>
                <li>
                    <a data-icon="featured" href="views/accountsSubViews/visaElectronView.html">Visa Electron</a>
                </li>
                <li>
                    <a data-icon="stop" href="views/accountsSubViews/creditCardsView.html">Credit Cards</a>
                </li>
                <li>
                    <a data-icon="organize" href="views/accountsSubViews/cashCardView.html"> Cash Card</a>
                </li>
                               
            </ul>
    </div>
    <!--------------------------------------- Accounts View End   --------------------------------------->