<!-- Bill Payments Start -->
     <div data-role="view" id="billPayments"  data-layout="main-layout">
            <ul data-role="listview" data-style="inset">
                <li>
                    <h3>Bill Payments</h3>
                </li>
                <li>
                    <a data-icon="action" href="#cs">Make a single payment</a>
                </li>
                <li>
                    <a data-icon="organize" href="#cs">List of unpaid bills</a>
                </li>
                <li>
                    <a data-icon="mostviewed" href="#cs">List of previously paid bills</a>
                </li>
                <li>
                    <a data-icon="add" href="#cs">E-TOP-UP</a>
                </li>
            </ul>
        </div>    
    <!-- Bill Payments End -->