    <!-- Cheque Services Start -->
     <div data-role="view" id="chequeServicesView"  data-layout="main-layout">
            <ul data-role="listview" data-style="inset">
                <li>
                    <h3>Cheque Services</h3>
                </li>
                <li>
                    <a data-icon="action" href="#cs">Chequebook request</a>
                </li>
                <li>
                    <a data-icon="pause" href="#cs">Stop cheque</a>
                </li>
                <li>
                    <a data-icon="search" href="#cs">Cheque status inquiry</a>
                </li>
                <li>
                    <a data-icon="share" href="#cs">Seven year archive</a>
                </li>
            </ul>
        </div>    
    <!-- Cheque Services End -->
    