<!-- Home View Start -->
    <div data-role="view" id="homeView"  data-layout="main-layout">
         
                <h4>Welcome to BOP Mobile Banking</h4>
                <h6>Mr. Iyad Qumsieh you're last login was today 9:43 am</h6>
                  
        
        <ul data-role="listview" data-style="inset">
               
                <li>
                    <a id="11" data-icon="bookmarks" href="views/accountsView.html" >Accounts</a>
                </li>
                <li>
                    <a data-icon="fastforward" href="transfers">Transfers</a>
                </li>
                <li>
                    <a data-icon="compose" href="#chequeServices">Cheque Services</a>
                </li>
                <li>
                    <a data-icon="cart" href="#billPayments">Bill Payments</a>
                </li>
                <li>
                    <a data-icon="globe" href="#cs">Locate Bank of Palestine</a>
                </li>
                <li>
                    <a data-icon="info" href="#cs">Information</a>
                </li><li>
                    <a data-icon="more" href="#cs">Other services</a>
                </li>
                
            </ul>
    </div>
   <!-- Home View End -->