<!-- Transfers View Start -->
     <div data-role="view" id="transfersView"  data-layout="main-layout">
            <ul data-role="listview" data-style="inset">
                <li>
                    <h3>Transfers</h3>
                </li>
                <li>
                    <a data-icon="action" href="#cs">Transfers between accounts</a>
                </li>
                <li>
                    <a data-icon="action" href="#cs">Transfer to another BOP account</a>
                </li>
                <li>
                    <a data-icon="action" href="#cs">Schedule a transfer</a>
                </li>
                <li>
                    <a data-icon="action" href="#cs">Review scheduled transfers</a>
                </li>
            </ul>
        </div>    
    <!-- Transfers View End -->