.km-ios7 .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: red;
}
.km-ios7 .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgba(0, 0, 0, 0);
}
.km-ios7 .km-view .km-navbar {
    background-color: rgba(0, 0, 0, 0);
}
.km-ios7 .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgba(0, 0, 0, 0);
}


