.km-android .km-view .km-content {
    background-color: rgb(229, 229, 229);
}
.km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(76, 76, 76);
}
.km-android .km-view .km-content .km-list > li .km-icon {
    color: rgb(76, 76, 76);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    color: rgb(76, 76, 76);
}
.km-android .km-view .km-content .km-list > li {
    color: rgb(76, 76, 76);
    border-color: rgb(76, 76, 76);
}
