
em{
   font-weight:bolder !important; 
    font-size:14px;
}

km-android li{
    border-width:10px !important;
    border-color:black;
    margin-bottom:10px;
}


h1,h2,h3,h4,h5,h6{color:#42454a}

.accountInfo{
    background-color:gray;
    border-radius:25px;
    margin-bottom:5px  !important;
    padding-top:0  !important;
   
    
    
}

#yourInformation {
    
    color:#42454a
}

#enterCorrect{
   color:#42454a 
}

 #username {
   
   color:#42454a;
} 
#password{
    color:#42454a; 
}




#grid tr{
    
    border-bottom-color:gray !important;   
    border-left-color:gray !important;   
    border-right-color:gray !important;   
       
    
}
/* 
Generic Styling, for Desktops/Laptops 
*/x
 table { 
  width: 100%; 
  border-collapse:separate; 
  table-layout: fixed;
    
}
/* Zebra striping */
 tr:nth-of-type(odd) { 
  /*background: #2e5c69; */
  /*   background: #00b3db;*/
     background: white;
    
}

tr{
     /*background:#666;*/
}

th  { 
  /*background: #333; */
  background: none; 
     }

 .km-android th { 
  /*background: #333; */
  background: #ccc; 
     
  color: white; 
  font-weight: bold; 
}
 td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
     color:#42454a;
}

td{
    word-wrap:break-word
}

#miniStatement td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	km-android #balanceInquiry table{
       border:2px solid;
        width:99%;
        
    }
    
   .km-ios7 #balanceInquiry table{
       border:2px solid;
        width:100%;
        border-color:gray;
        
    }
    
    #balanceInquiry  table, #balanceInquiry thead, #balanceInquiry tbody, #balanceInquiry th,#balanceInquiry  td,#balanceInquiry tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	#balanceInquiry  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#balanceInquiry tr { border: 1px solid #ccc; }
	
	#balanceInquiry td { 
		/* Behave  like a "row" */
		border: 1px solid #eee;
		border-bottom: 1px solid #eee; 
        
		position: relative;
		padding-left: 43%; 
	}
	
	#balanceInquiry td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 60%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	
    #balanceInquiry td:nth-of-type(1):before { content: "Account Number"; }
	#balanceInquiry td:nth-of-type(2):before { content: "IBAN/BBAN "; }
    #balanceInquiry td:nth-of-type(3):before { content: "Type"; }
	#balanceInquiry td:nth-of-type(4):before { content: "Current Balance"; }
	#balanceInquiry td:nth-of-type(5):before { content: "Available Balance"; }
    
  /*  td:nth-of-type(1):before { content: "Transaction Date"; }
    td:nth-of-type(2):before { content: "Explanation"; }
    td:nth-of-type(3):before { content: "Amount"; }*/
	
}









body {
   
}


/*
table{
    border:1px solid black;
    width:100%;
    border-collapse:collapse;
    
}   
th{
    height:50px;
}

td,th{
    border:1px solid black;
    text-align:left;
    padding:5px;
} */

#logoContainer{
     background-image: url(../styles/images/palpay.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 320px;
    height: 193px;
    margin:  0px auto;
   
    }




km-android .km-navbar .km-view-title 
{
    display: inline-block;
  visibility: visible;
}

.km-android .km-navbar .km-view-title 
{
    
}







	



